@use "variables" as *;

footer {
  text-align: right;
  font-size: 1rem;
  color: $text_light;
height: 50vh;

small{
 display: flex;
 align-items: end;
}
  display: flex;
  align-items: end;
  justify-content: end;
  span {
    color: $golden;
    margin: 3px;
  }
}
